1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [4]:
test1 = 'This is a test of the emergency text system,'
with open('test1.txt', 'w') as f:
    f.write(test1)
    f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open('test1.txt', 'r') as f:
    test2 = f.read()
    f.close()
print(test1)
print(test2)

This is a test of the emergency text system,
This is a test of the emergency text system,

there is no difference

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [8]:
with open('book.csv', 'w') as f:
    f.write("""title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Miéville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992""")
    f.close()

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [32]:
import sqlite3
connection = sqlite3.connect('books.db')
cursor = connection.cursor()
cursor.execute("""CREATE TABLE books(title text, author text, year integer)""")
connection.commit()
connection.close()

5. Read books.csv and insert its data into the book table.

In [11]:
import pandas as pd
df = pd.read_csv("book.csv",encoding='latin-1')
df

                               title           author  year
0      The Weirdstone of Brisingamen      Alan Garner  1960
1             Perdido Street Station   China Miéville  2000
2                              Thud!  Terry Pratchett  2005
3                 The Spellman Files        Lisa Lutz  2007
4                         Small Gods  Terry Pratchett  1992

In [29]:
import sqlite3
connection = sqlite3.connect('books.db')
cursor = connection.cursor()
for i in range(len(df)):
    cursor.execute(f"""INSERT INTO books values('{df.loc[i].title}', '{df.loc[i].author}', '{df.loc[i].year}')""")
connection.commit()
connection.close()

In [30]:
for i in range(len(df)):
    print(df.loc[i].title)

    The Weirdstone of Brisingamen
    Perdido Street Station
    Thud!
    The Spellman Files
    Small Gods

In [31]:
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///books.db')
pd.read_sql("books",engine)

                               title           author  year
0      The Weirdstone of Brisingamen      Alan Garner  1960
1             Perdido Street Station   China Miéville  2000
2                              Thud!  Terry Pratchett  2005
3                 The Spellman Files        Lisa Lutz  2007
4                         Small Gods  Terry Pratchett  1992

6. Select and print the title column from the book table in alphabetical order.

In [38]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("SELECT title FROM books ORDER BY title ASC")
rows = cursor.fetchall()
for row in rows:
    print(row[0])
cursor.close()
conn.close()

    Perdido Street Station
    Small Gods
    The Spellman Files
    The Weirdstone of Brisingamen
    Thud!

7. From the book table, select and print all columns in the order of publication.

In [39]:
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
cursor.execute("SELECT * FROM books ORDER BY year ASC")
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.close()
conn.close()

('    The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('    Small Gods', 'Terry Pratchett', 1992)
('    Perdido Street Station', 'China Miéville', 2000)
('    Thud!', 'Terry Pratchett', 2005)
('    The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [44]:
engine = sqlalchemy.create_engine('sqlite:///books.db')
conn=engine.connect()
rows = conn.execute("SELECT title FROM books ORDER BY title ASC")
for row in rows:
    print(row[0])
conn.close()

    Perdido Street Station
    Small Gods
    The Spellman Files
    The Weirdstone of Brisingamen
    Thud!

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10. Increment the count field of test and print it.